<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.provider_class">org.hibernate.hikaricp.internal.HikariCPConnectionProvider</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <property name="hibernate.connection.url">jdbc:mysql://jutter.online:3306/roadmap?useSSL=false&amp;useUnicode=true&amp;allowPublicKeyRetrieval=true</property>
        <property name="hibernate.connection.username">*****</property>
        <property name="hibernate.connection.password">*****</property>
        <property name="hibernate.connection.pool_size">10000</property>
        <property name="hibernate.connection.">10000</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Entity Mapping -->
        <mapping class="online.jutter.ckdpp.data.db.ent.MapEntity"/>
        <mapping class="online.jutter.ckdpp.data.db.ent.UserEntity"/>
        <mapping class="online.jutter.ckdpp.data.db.ent.WorkspaceEntity"/>
        <mapping class="online.jutter.ckdpp.data.db.ent.UserWorkspaceEntity"/>
        <mapping class="online.jutter.ckdpp.data.db.ent.InviteEntity"/>
        <mapping class="online.jutter.ckdpp.data.db.ent.DocumentationPageEntity"/>
        <mapping class="online.jutter.ckdpp.data.db.ent.DocumentationPageLineEntity"/>
        <mapping class="online.jutter.ckdpp.data.db.ent.ImageEntity"/>
        <mapping class="online.jutter.ckdpp.data.db.ent.WorkspaceImageEntity"/>

    </session-factory>
</hibernate-configuration>